<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Acceuill{% endblock %}</title>
        {% block stylesheets %}
        
         <link rel="shortcut icon" type="image/x-icon" href="{{asset('assets/img/icon2.ico')}}">
            <link rel="stylesheet" type="text/css" href="{{asset('assets/css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('assets/css/font-awesome.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('assets/css/style.css')}}">
    
        <link href="{{asset('assets/css/styless.css')}}" rel="stylesheet" />
        
      


    
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />





   
		<style>



        </style>
	
        
        
        
        {% endblock %}
    </head>
    <body >
        {% block body %}
        
        
    <div class="main-wrapper">
        <div class="header" style="background-color:#37474F" >
			<div class="header-left">
				<a href="index-2.html" class="logo">
					<img src="{{asset('assets/img/slogo.png')}}" width="60" height="60" alt=""><span>SehatTefli</span>
				</a>
			</div>
			<a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">
              
               
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img">
							<img class="rounded-circle" src="{{asset('assets/img/utilisateur/' ~ app.User.image)}}" width="24" alt="">
							<span class="status online"></span>
						</span>
						<span>{{app.User.nameComplet}} <span>{{app.User.roles[0]}}</span> </span>
                    </a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="profile.html">My Profile</a>
						<a class="dropdown-item" href="edit-profile.html">Edit Profile</a>
						<a class="dropdown-item" href="settings.html">Settings</a>
						<a class="dropdown-item" href="{{ path('app_logout') }}"><i class="fa fa-sign-out-alt"></i> Logout</a>
					</div>
                </li>
            </ul>
            <div class="dropdown mobile-user-menu float-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="profile.html">My Profile</a>
                    <a class="dropdown-item" href="edit-profile.html">Edit Profile</a>
                    <a class="dropdown-item" href="settings.html">Settings</a>
                    <a class="dropdown-item" href="{{path('app_logout') }}"><i class="fa fa-sign-out-alt"></i> Logout</a>
                </div>
            </div>
        </div>
        <div class="sidebar" id="sidebar" >
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                        <li >
                            <a href="{{path('index')}}"><i class="fa fa-home"></i> <span>Acceill </span></a>
                        </li>
                                 <li>
                            <a href="{{path('orientation')}}"><i class="fa fa-adjust"></i> <span>Orientation</span></a>
                        </li>

                                  <li>
                            <a href=""><i class="fa fa-heartbeat"></i> <span>FAQ</span></a>
                        </li>
						<li>
                            <a href="{{path('pediatre')}}"><i class="fa fa-user-md"></i> <span>Pédiatres</span></a>
                        </li>
                        <li>
                            <a href="{{path('medicament')}}"><i class="fa fa-wheelchair"></i> <span>Medicament</span></a>
                        </li>

                        
                        <li>
                            <a href="{{path('blog')}}"><i class="fa fa-comments"></i> <span>Mediatheque</span> </a>
                        </li>

 
                        
                        <li>
                            <a href="departments.html"><i class="fa fa-hospital-o"></i> <span>Santé D'enfant</span></a>
                        </li>
						
								<li><a href="{{path('Parents')}}"><i class="fa fa-user"></i> <span>list des Parents</span></a></li>
                                <li><a href="{{path('enfants',{'id':app.User.id})}}"><i class="fa fa-child"></i> <span>list des Enfants</span></a></li>
                                 <li><a href="{{path('users')}}"><i class="fa fa-user"></i> <span>Utilisateurs</span></a></li>
						
						
						<li>
							<a href="{{path('chat')}}"><i class="fa fa-bell-o"></i> <span>Chat</span></a>
						</li>
					
                      
                        
                    
                        <li>
                            <a href="calendar.html"><i class="fa fa-calendar"></i> <span>Calendrier Vaccinal</span></a>
                        </li>
                      
                    
                       
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-wrapper" >
            <div class="content">

               <div class="row">
               <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{asset('assets/img/banner4.jpg')}}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{{asset('assets/img/banner4.jpg')}}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{{asset('assets/img/banner4.jpg')}}" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

                    

               </div><br><br>

            



             <div class="row">
                           
                            <div class="col-xl-4 col-md-6">
                                <div class="card bg-warning text-white mb-4">
                                    <div class="card-body">Enfants Moyen Santé : <h3>30%</h3></div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="">></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body">Enfants Bon Santé : <h3>30%</h3></div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="">></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="card bg-danger text-white mb-4">
                                    <div class="card-body">Enfants Cas Urgents : <h3>20%</h3></div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="">></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget">
							<span class="dash-widget-bg3"><i class="fa fa-stethoscope" aria-hidden="true"></i></span>
							<div class="dash-widget-info text-right">
								<h3>{{countPediatre}}</h3>
								<span class="widget-title3">Pédiatres<i class="fa fa-check" aria-hidden="true"></i></span>
							</div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget">
                            <span class="dash-widget-bg3"><i class="fa fa-user-o"></i></span>
                            <div class="dash-widget-info text-right">
                                <h3>{{countUser}}</h3>
                                <span class="widget-title3">Users<i class="fa fa-check" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                   
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget">
                            <span  class="dash-widget-bg3"><i class="fa fa-child" aria-hidden="true"></i></span>
                            <div class="dash-widget-info text-right">
                                <h3>{{countEnfant}}</h3>
                                <span class="widget-title3">Enfants<i class="fa fa-check" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                     <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget">
                            <span  class="dash-widget-bg3"><i class="fa fa-comments" aria-hidden="true"></i></span>
                            <div class="dash-widget-info text-right">
                                <h3>{{countBlog}}</h3>
                                <span class="widget-title3">Articles <i class="fa fa-check" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                
				<div class="row">
					
					
				</div>
				<div class="row">
					<div class="col-12 col-md-6 col-lg-8 col-xl-8">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title d-inline-block">Liste Des Médicament</h4> <a href="appointments.html" class="btn btn-danger float-right">View all</a>
							</div>
							<div class="card-body p-0">
								<div class="table-responsive">
									<table class="table mb-0">
										<thead class="d-none">
											<tr>
												<th>Patient Name</th>
												<th>Doctor Name</th>
												<th>Timing</th>
												<th class="text-right">Status</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td style="min-width: 260px;">
													<a class="avatar" href="profile.html">B</a>
													<h2><a href="profile.html">maladies dermatologiques <span></span></a></h2>
												</td>                 
												<td>
													<h5 class="time-title p-0">une spécialité de médecine qui s'occupe de la peau</h5>
													<p></p>
												</td>
												<td>
													<h5 class="time-title p-0">Timing</h5>
													<p>7.00 PM</p>
												</td>
												<td class="text-right">
													<a href="appointments.html" class="btn btn-outline-danger take-btn">Detail</a>
												</td>
											</tr>
											<tr>
												<td style="min-width: 200px;">
													<a class="avatar" href="profile.html">B</a>
													<h2><a href="profile.html">maladies cardio-vasculaires <span></span></a></h2>
												</td>                 
												<td>
													<h5 class="time-title p-0">Appointment With</h5>
													<p>Dr. Cristina Groves</p>
												</td>
												<td>
													<h5 class="time-title p-0">Timing</h5>
													<p>7.00 PM</p>
												</td>
												<td class="text-right">
													<a href="appointments.html" class="btn btn-outline-danger take-btn">Detail</a>
												</td>
											</tr>
											<tr>
												<td style="min-width: 200px;">
													<a class="avatar" href="profile.html">B</a>
													<h2><a href="profile.html">maladies respiratoires <span>New York, USA</span></a></h2>
												</td>                 
												<td>
													<h5 class="time-title p-0">Appointment With</h5>
													<p>Dr. Cristina Groves</p>
												</td>
												<td>
													<h5 class="time-title p-0">Timing</h5>
													<p>7.00 PM</p>
												</td>
												<td class="text-right">
													<a href="appointments.html" class="btn btn-outline-danger take-btn">Detail</a>
												</td>
											</tr>
											<tr>
												<td style="min-width: 200px;">
													<a class="avatar" href="profile.html">B</a>
													<h2><a href="profile.html"> cancers <span>New York, USA</span></a></h2>
												</td>                 
												<td>
													<h5 class="time-title p-0">Appointment With</h5>
													<p>Dr. Cristina Groves</p>
												</td>
												<td>
													<h5 class="time-title p-0">Timing</h5>
													<p>7.00 PM</p>
												</td>
												<td class="text-right">
													<a href="appointments.html" class="btn btn-outline-danger take-btn">Detail</a>
												</td>
											</tr>
											<tr>
												<td style="min-width: 200px;">
													<a class="avatar" href="profile.html">B</a>
													<h2><a href="profile.html">Maladies mentales <span>New York, USA</span></a></h2>
												</td>                 
												<td>
													<h5 class="time-title p-0">Appointment With</h5>
													<p>Dr. Cristina Groves</p>
												</td>
												<td>
													<h5 class="time-title p-0">Timing</h5>
													<p>7.00 PM</p>
												</td>
												<td class="text-right">
													<a href="appointments.html" class="btn btn-outline-danger take-btn">Detail</a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
                    <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                        <div class="card member-panel">
							<div class="card-header bg-white">
								<h4 class="card-title mb-0">Pédiatres</h4>
							</div>
                            <div class="card-body">
                                <ul class="contact-list">

                                {% for p in pediatre %}
                                    <li>
                                        <div class="contact-cont">
                                            <div class="float-left user-img m-r-10">
                                                <a href="profile.html" title="John Doe"><img src="assets/img/user.jpg" alt="" class="w-40 rounded-circle"><span class="status online"></span></a>
                                            </div>
                                            <div class="contact-info">
                                                <span class="contact-name text-ellipsis">{{p.nomComplet}}</span>
                                                <span class="contact-date">{{p.specialite}}</span>
                                            </div>
                                        </div>
                                    </li>

                                    {% endfor %}
                                 
                               
                                </ul>
                            </div>
                            <div class="card-footer text-center bg-white">
                                <a href="{{path('pediatre')}}" class="text-muted">View all Doctors</a>
                            </div>
                        </div>
                    </div>
				</div>
				<div class="row">
					<div class="col-12 col-md-6 col-lg-8 col-xl-8">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title d-inline-block">Liste Des Enfant</h4> <a href="{{path('enfants')}}" class="btn btn-primary float-right">View all</a>
							</div>
							<div class="card-block">
								<div class="table-responsive">
									<table class="table mb-0 new-patient-table">
										<tbody>


                                        {% for e in enfant %}
											<tr>
												<td>
													<img width="28" height="28" class="rounded-circle" src="{{asset('assets/img/enfants/' ~ e.image )}}" alt=""> 
													<h2>{{e.nomComplet}}</h2>
												</td>
												<td>{{e.naissance | date('d-m-y')}}</td>
												<td>{{e.ville}}</td>

                                                {% if e.sexe == 'Masculin' %}
												<td><button style="background-color:#64B5F6;color:white" class="btn  btn-primary-three float-right">{{e.sexe}}</button></td>
                                                {% else %}

                                                <td><button style="background-color:#EC407A;color:white" class="btn   btn-primary-three float-right">{{e.sexe}}</button></td>

                                                {% endif %}
											</tr>

                                            {% endfor %}
										
										
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				
					 </div>
				</div>
            </div>
           
        </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>

        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        {% endblock %}
        {% block javascripts %}
        
        	<script src="{{asset('assets/js/html5shiv.min.js')}}"></script>
		<script src="{{asset('assets/js/respond.min.js')}}"></script>
           <script src="{{asset('assets/js/jquery-3.2.1.min.js')}}"></script>
	<script src="{{asset('assets/js/popper.min.js')}}"></script>
    <script src="{{asset('assets/js/bootstrap.min.js')}}"></script>
    <script src="{{asset('assets/js/app.js')}}"></script>
    
    <script src="{{asset('assets/js/Chart.bundle.js')}}"></script>
    <script src="{{asset('assets/js/chart.js')}}"></script>
    
    <script src="{{asset('assets/js/jquery.slimscroll.js')}}"></script>


        
        {% endblock %}
    </body>
</html>