<!DOCTYPE html>
<html lang="en">


<!-- employees23:21-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="{{asset('assets/img/icon2.ico')}}">
    <title>{% block title %}list Pédiatres{% endblock %}</title>

     {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{asset('assets/css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('assets/css/font-awesome.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('assets/css/dataTables.bootstrap4.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('assets/css/select2.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('assets/css/bootstrap-datetimepicker.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('assets/css/style.css')}}">

     


    {% endblock %}
    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
{% block body %}
    <div class="main-wrapper">
        <div class="header" style="background-color:rgb(82, 33, 41)"  >
			<div class="header-left">
				<a href="index-2.html" class="logo">
									<img src="{{asset('assets/img/slogo.png')}}" width="60" height="60" alt=""><span>SehatTefli</span>
				</a>
			</div>
			<a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">
              
               
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
							<span class="status online"></span></span>
                        <span>{{app.User.nameComplet}}</span>
                    </a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="profile.html">My Profile</a>
						<a class="dropdown-item" href="edit-profile.html">Edit Profile</a>
						<a class="dropdown-item" href="settings.html">Settings</a>
						<a class="dropdown-item" href="{{path('app_logout') }}">Logout</a>
					</div>
                </li>
            </ul>
            <div class="dropdown mobile-user-menu float-right">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="profile.html">My Profile</a>
                    <a class="dropdown-item" href="edit-profile.html">Edit Profile</a>
                    <a class="dropdown-item" href="settings.html">Settings</a>
                    <a class="dropdown-item" href="{{path('app_logout') }}">Logout</a>
                </div>
            </div>
        </div>
        <div class="sidebar" id="sidebar" >
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
              <ul>
                        <li class="menu-title">Main</li>
                        <li >
                            <a href="{{path('index')}}"><i class="fa fa-home"></i> <span>Acceill </span></a>
                        </li>
                                 <li>
                            <a href="{{path('orientation')}}"><i class="fa fa-adjust"></i> <span>Orientation</span></a>
                        </li>

                                  <li>
                            <a href=""><i class="fa fa-heartbeat"></i> <span>FAQ</span></a>
                        </li>
						<li>
                            <a href="{{path('pediatre')}}"><i class="fa fa-user-md"></i> <span>Pédiatres</span></a>
                        </li>
                        <li>
                            <a href="{{path('medicament')}}"><i class="fa fa-wheelchair"></i> <span>Medicament</span></a>
                        </li>

                        
                        <li>
                            <a href="{{path('blog')}}"><i class="fa fa-comments"></i> <span>Mediatheque</span> </a>
                        </li>

 
                        
                        <li>
                            <a href="departments.html"><i class="fa fa-hospital-o"></i> <span>Santé D'enfant</span></a>
                        </li>
						
								<li><a href="{{path('Parents')}}"><i class="fa fa-user"></i> <span>list des Parents</span></a></li>
                                <li><a href="{{path('enfants',{'id':app.User.id})}}"><i class="fa fa-child"></i> <span>list des Enfants</span></a></li>
                                 <li><a href="{{path('users')}}"><i class="fa fa-user"></i> <span>Utilisateurs</span></a></li>
						
						
						<li>
							<a href="{{path('chat')}}"><i class="fa fa-bell-o"></i> <span>Chat</span></a>
						</li>
					
                      
                        
                    
                        <li>
                            <a href="calendar.html"><i class="fa fa-calendar"></i> <span>Calendrier Vaccinal</span></a>
                        </li>
                      
                    
                       
                    </ul>
                </div>
            </div>
        </div>

        
       
           
<div class="page-wrapper">

 
           
           
        
	 <div class="content">
     {% if  app.User.roles[0] == 'ROLE_ADMIN' or app.User.roles[0] == 'ROLE_PEDIATRE' %}
                <div class="row">
                    <div class="col-sm-4 col-3">
                        <h4 class="page-title">Pédiatres</h4>
                    </div>
                    <div class="col-sm-8 col-9 text-right m-b-20">
                        <a href="add-doctor.html"  class="btn btn-outline-warning btn-rounded float-right"><i class="fa fa-plus"></i> Ajouter Pédiatre</a>
                    </div>
                </div>
				<div class="row doctor-grid">

               

                {% for p in pediatre %}

<div class="col-md-3 col-sm-3  col-lg-4" style="max-width: 540px;">
 
  <div class="row no-gutters">

    <div class="col-md-4">
      <a href="{{path('profilPediatre',{'id':p.id})}}"><img src="{{asset('assets/img/pediatres/' ~ p.image)}}" class="card-img" alt="..."></a>
    </div>
    
    <div class="col-md-8">
       <div class="dropdown profile-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="edit-doctor.html"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_doctor"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
      <div class="card-body">
        <a href="#"><h5 class="card-title">{{p.nomComplet}}</h5></a>
        <p class="card-text">{{p.specialite}}</p>
          <div class="user-country">
                                <i class="fa fa-map-marker"></i> {{p.adress}}
                            </div>
      </div>
    </div>
  </div></br></br>
</div>

                  

{% endfor %}
                    {% else %}

                 

                    
                

              <h3>Vous ne disposez pas des droits d'administrateur pour ouvrir cette page</h3>



                    {% endif %}
              
                
                
              
                
                  
              
               
                
                 
                  
                </div>
				<div class="row">
                    <div class="col-sm-12">
                        <div class="see-all">
                            <a class="see-all-btn" href="javascript:void(0);">Afficher Plus</a>
                        </div>
                    </div>
                </div>
            </div>
               </div>

    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    {% endblock %}

      {% block javascripts %}
    <script src="{{asset('assets/js/jquery-3.2.1.min.js')}}"></script>
	<script src="{{asset('assets/js/popper.min.js')}}"></script>
    <script src="{{asset('assets/js/bootstrap.min.js')}}"></script>
    <script src="{{asset('assets/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{asset('assets/js/dataTables.bootstrap4.min.js')}}"></script>
    <script src="{{asset('assets/js/jquery.slimscroll.js')}}"></script>
    <script src="{{asset('assets/js/select2.min.js')}}"></script>
    <script src="{{asset('assets/js/moment.min.js')}}"></script>
    <script src="{{asset('assets/js/bootstrap-datetimepicker.min.js')}}"></script>
    <script src="{{asset('assets/js/app.js')}}"></script>
     {% endblock %}
</body>


<!-- employees23:22-->
</html>